*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  place-items: end;
  inline-size: 100%;
  margin: 0 30px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  gap: 10px;
  outline: none;
  background-color: transparent;
  min-width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  width: 196px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: contain;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}
